{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "import/no-cycle": "off",
    "consistent-return": "off",
    "no-await-in-loop": "off",
    "no-continue": "off",
    "no-new": "off",
    "no-console": "off",
    "no-namespace": "off",
    "no-empty": "off"
  }
}